.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shope-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
}

.text {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
}

.UEFABall {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.productIMG {
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  .list {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 450px) {
  .list {
    grid-template-columns: repeat(1, auto);
  }
}
